# Ficheiros de sistema
.DS_Store
Thumbs.db

# Editores de código
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Ambiente virtual (se usares Python)
venv/
.env

# Node modules (se usares npm)
node_modules/
